html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --borderRadius: 6px;

  /* https://paletton.com/#uid=74N1q0kl1Wx1x+IcEXDsUWkWEVB */

  --themeColor: #58D0F2;
  --themeHighlight: #97E0F5;
  --themeDark: #01BBEF;

  --secondaryColor: #FFAC58;
  --secondaryHighlight: #FFCD9A;
  --secondaryDark: #FF8100;
}

input[type="text"] {
  font-size: 1rem;
  padding: .3rem .5rem;
  border-radius: var(--borderRadius);
}
