.wifiDetails {
  composes: connectButton from './Home.module.css';
  border-color: #888888;
  gap: 1rem;
  font-size: 1rem;
  background-color: #efefefef;
  color: #333333;
}

.wifiDetails:hover {
  color: #333333;
  background-color: var(--themeHighlight);
  border-color: var(--themeColor);
}

.selected {
  background-color: var(--themeHighlight);
  border-color: var(--themeDark);
}

.wifiDetails>.title {
  flex-grow: 1;
  text-align: left;
  padding-right: 2rem;
  vertical-align: center;
}

.good {
}

.fair>:nth-child(1) {
  display: none;
}

.poor>:nth-child(1),.poor>:nth-child(2) {
  display: none;
}